<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timotiusek.musikonek">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CourseDetailActivity"
            android:label="@string/title_activity_course_detail"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".TeacherProfileActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".RejectAttendanceVerificationActivity" />
        <activity android:name=".AttendanceVerificationActivity" />
        <activity android:name=".ReportDetailActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".CourseReportDetailActivity" />
        <activity android:name=".SetScheduleActivity" />
        <activity android:name=".CourseListSpecificTeacherActivity" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:noHistory="true"
            android:theme="@style/SignTheme" />
        <activity
            android:name=".SignUpActivity"
            android:noHistory="true"
            android:theme="@style/SignTheme" />
        <activity
            android:name=".SubjectViewAllTeacherActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".EditProfileActivity" />
        <activity
            android:name=".ConfirmationScreenActivity"
            android:noHistory="true"
            android:theme="@style/NoActionBarTheme" />
        <activity android:name=".ActiveCourseActivity" />
        <activity android:name=".AppointmentListFragment" />
        <activity android:name=".PlanAppointmentActivity" />
        <activity android:name=".RejectAttendanceReasonActivity"></activity>
    </application>

</manifest>