<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.timotiusek.musikonek">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".CourseDetailActivity"
            android:label="@string/title_activity_cousre_detail"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".ProfileActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".TeacherProfileActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/NoActionBarTheme"/>
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:theme="@style/SplashScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignInActivity"
            android:theme="@style/SignTheme"
            android:noHistory="true"/>
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/SignTheme"
            android:noHistory="true"/>
        <activity android:name=".SubjectViewAllTeacherActivity"
            android:theme="@style/NoActionBarTheme"></activity>
    </application>

</manifest>